
/* 1.0 - Foundational Styling */

:root {
  --primary:  #66C92D;
  --text-light: #FFFFFF;
  --text-dark: #667E8A;
  --background: #667E8A;
  --background-light: #E5E9EB;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /*background: linear-gradient(
    145deg, #81A1C1, #88C0D0, #8FBCBB, #A3BE8C, #EBCB8B, #D08770
  );
  background-size: 700% 550%;
  animation: gradient 7s ease-in-out infinite;*/
  color: var(--text-dark);
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--background-light);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

@keyframes gradient {
  0% {
	  background-position: 0% 79%;
  }
  50% {
	  background-position: 100% 22%;
  }
  100% {
	  background-position: 0% 79%;
  }
}

html {
  display: flex;
  justify-content: center;
}

/* 1.1 - Dataframe and Table Styling */

input,
select {
  width: 200px;
  height: 25px;
  margin: 2px;
  --moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dataframe {
  font-size: 11pt;
  border-collapse: collapse;
  border: 1px solid #66C92D;
  width: 100%;
  text-align: left !important;
}

.dataframe td, th {
  padding: 5px;
}

.dataframe tr:nth-child(even) {
  background: #CCE8EE;
}

.dataframe tr:hover {
  background: #CCD4D8;
}

/* Titles and Header Copy/Test */

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h1 > span {
  color: var(--primary);
}

h4 {
  align-items: center;
  text-align: center;
}

img {
  height: 80px;
}

.logo-div {
  margin: 4px;
  flex-wrap: wrap;
  padding: 25px;
  justify-content: center;
}

/* 1.? - Header and Navigation Bar Styling */

.header {
  margin: 0;
  padding: 20px;
  font-weight: 200;
  justify-content: space-between;
}

.header_opts {
  margin: 0px;
  --webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 48px;
  padding: 8px 16px;
}

.nav-link {
  text-decoration: none;
}

li {
  display: flex;
}

.button-background {
  margin-right: 8px;
}

.navbutton {
  border-radius: 4px;
  margin-right: 4px;
  border: 1px solid #66C92D;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding: 8px 16px 8px 12px;
}

#currentDate {
  color: var(--primary);
}

#currentTime {
  font-size: 4rem;
  font-weight: 600;
}

@media screen and (max-width: 1250px) {
  h1 {
    display: flex;
  }

  .header {
    flex-direction: column-reverse;
  }

  #currentTime {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  #fullDate {
    text-align: center;
  }
}
ul {
  display: flex;
}

/* 1.? - Card Layout in options.html only */

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 2rem;
  padding: 20px;
}

.card {
  background-color: #089FB7;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #66C92D;
  color: #FFFFFF;
}

.card:hover,
.card:focus {
  transform: scale(1.02);
}

.card:focus > .card__name {
  bottom: 0;
}

.card:checked > .card__name {
  bottom: 0;
}

.card__icon {
  font-size: 2rem;
  padding: 1rem;
  display: grid;
}

.card__name {
  font-weight: 400;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  transition: 0.1s;
}

/* Styling for the options2.html file only */

.fields {
  display: grid;
  width: 60px; height: 40px; margin: 0;
  appearance: none; -webkit-appearance: none;
  cursor: pointer;
  background: var(--background-dark);
  border-radius: 20px;
}

input:not(:nth-of-type(4n+1))::before,
input:nth-of-type(n+5)::after {
  content: '';
  border-radius: 20px;
  pointer-events: none;
  grid-area: 1/1;
}

input:not(:nth-of-type(4n+1))::before { transform: translatex(-85px); }

input:nth-of-type(n+5)::after { transform: translatey(-60px); }

input:checked { background: limegreen; }

/* a checked box's right borders */
input:not(:nth-of-type(4n)):checked + input:checked::before {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: limegreen;
}
/* a checked box's bottom borders */
input:nth-last-of-type(n+5):checked + * + * + * + input:checked::after {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: limegreen;
}
/* a checked box's adjacent (rightside) checked box's left borders */
input:not(:nth-of-type(4n)):checked + input:checked + input::before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: limegreen;
}
/* a checked box's adjacent (below) checked box's top borders */
input:not(:nth-of-type(4n)):checked + * + * + * +  input:checked + input::before {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: limegreen;
}
/* a checked box's (in last column) left borders */
input:nth-of-type(4n-1):checked + input:checked {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* a checked box's (in last column) adjacent (below) checked box's top borders */
input:nth-of-type(4n):checked + * + * + * + input:checked {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.selections {
  display: grid;
  grid:  repeat(5, 60px) / repeat(4, 85px);
  align-items: center; justify-items: center;
  margin: 0;
}
