
/* 1.0 - Foundational Styling */

:root {
  --primary:  #66C92D;
  --text-light: #FFFFFF;
  --text-dark: #667E8A;
  --background: #667E8A;
  --background-light: #E5E9EB;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /*background: linear-gradient(
    145deg, #81A1C1, #88C0D0, #8FBCBB, #A3BE8C, #EBCB8B, #D08770
  );
  background-size: 700% 550%;
  animation: gradient 7s ease-in-out infinite;*/
  color: var(--text-dark);
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--background-light);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

@keyframes gradient {
  0% {
	  background-position: 0% 79%;
  }
  50% {
	  background-position: 100% 22%;
  }
  100% {
	  background-position: 0% 79%;
  }
}

html {
  display: flex;
  justify-content: center;
}

/* 1.1 - Dataframe and Table Styling */

input,
select {
  width: 200px;
  height: 25px;
  margin: 2px;
  --moz-box-sizing: border-box;
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dataframe {
  font-size: 11pt;
  border-collapse: collapse;
  border: 1px solid #66C92D;
  width: 100%;
  text-align: left !important;
}

.dataframe td, th {
  padding: 5px;
}

.dataframe tr:nth-child(even) {
  background: #CCE8EE;
}

.dataframe tr:hover {
  background: #CCD4D8;
}

/* Titles and Header Copy/Test */

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h1 > span {
  color: var(--primary);
}

h4 {
  align-items: center;
  text-align: center;
}

img {
  height: 80px;
}

.logo-div {
  margin: 4px;
  flex-wrap: wrap;
  padding: 25px;
  justify-content: center;
}

/* 1.? - Header and Navigation Bar Styling */

.header {
  margin: 0;
  padding: 20px;
  font-weight: 200;
  justify-content: space-between;
}

.header_opts {
  margin: 0px;
  --webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 48px;
  padding: 8px 16px;
  text-decoration: none;

}

.nav-link {
  text-decoration: none;
}

.instructions-list{
  display:flex;
  justify-content: space-around;
  width: 100%;
}

.instructions-left
.instructions-right {
  display: flex;
  align-items: center;
}

li {
  display: block;
}

.button-background {
  margin-right: 8px;
}

.radio-options {
  display: flex;
  justify-content: inherit;
}

.navbutton {
  border-radius: 4px;
  margin-right: 4px;
  border: 1px solid #66C92D;
  white-space: nowrap;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 16px 8px 12px;
}

.man-csv-opts {
  display: flex;
justify-content: space-evenly;

}
.csv-upload {
  align-items: right;
}

.navoption {
  color: var(--background);
  text-decoration: none;
}

.window-body {
  display: flex;
  justify-content: space-around;
}

.get_opts{
  display:flex;
  justify-content: space-evenly;
}

.subdom-link { color: #089FB7; }
.subdom-link:hover { color: #F05323; }

#templates {
  width: 75%;
}

#currentDate {
  color: var(--primary);
}

#currentTime {
  font-size: 4rem;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

#editor{
  height:550px;
}

@media screen and (max-width: 1250px) {
  h1 {
    display: flex;
  }

  #currentTime {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  #fullDate {
    text-align: center;
  }
}
ul {
  display: block;
  text-align: center;
}


@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 280px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #66C92E;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  color: white;
  font-size: 16px;
}
.floating-container .float-element:nth-child(1) {
  background: #F05323;
  box-shadow: 0 20px 20px -10px rgba(240, 84, 36, 0.5);
}
.floating-container .float-element:nth-child(2) {
  background: #FED109;
  box-shadow: 0 20px 20px -10px rgba(255, 209, 10, 0.5);
}
.floating-container .float-element:nth-child(3) {
  background: #089FB7;
  box-shadow: 0 20px 20px -10px rgba(08, 159, 183, 0.5);
}
