<!DOCTYPE html>
{% extends 'head.html' %}
{% block content %}
	<h4>Hello! Please enter the emails below.</h4>
	{% if error %}
	<p class=error><strong> </strong>{{ error }}</p>
	{% endif %}

	<p><label for="Bulk Add People"> Please select the appropriate options below.</label></p>
	  <form action="{{ url_for("bulk_add_ppl")}}" method="post">
	    <p>Please Copy and Paste Emails of learners you'd like to add</p>
	    <textarea id="emails" name="emails" rows="4" cols="50"></textarea>
	    <p>Please paste in the Group UUIDs which these learners should be added to.</p>
	    <textarea id="groups" name="groups" rows="4" cols="50"></textarea>
	    <p></p>
	      <input type="submit" value="Submit"></input>
	   </form>

	<h4>Here is a list of your client's Groups.</h4>
	<a id="download" href="/downloadcsv">Click here to download as CSV.</a>
    </div>
	  <div class="panda-table">
	      {{ table | safe }}
	  </div>
      </div>
</body>
  {% endblock %}

