<!DOCTYPE html>
<div class="csv-upload">
<h3> If you'd like to upload a CSV. Please do so here:</h3>
  <p></p>
  <form method="POST"
    action="{{ url_for('upload_file') }}"
    enctype="multipart/form-data">
   <p><input type="file" name="file"></p>
    <div class="radio-options">
      <input type="radio" id="all-groups" name="learner-groups" value="all-groups" checked>
      <label for="learner-groups">All Learners in All Groups</label>
    </div>
     <div class="radio-options">
      <input type="radio" id="some-groups" name="learner-groups" value="some-groups">
      <label for="learner-groups">Learners Only in Adjacent Groups</label>
    </div>
   <p><input type="submit" name="preview" value="Preview"></p>
    <input type="submit" name="submit" value="Submit to Academy"></input>
  </form>
</div>

