<!DOCTYPE html>
      <header class="header">

	<ul class="header_opts">
	  <form class="navbutton"
	    action="{{ url_for('render_home')}}"
	    method="post">
	    <a class="navoption"
	      style="cursor:pointer;">
	    <i class="ri-home-line card__icon"></i>
	    <p class="navselection">Home</p>
	    </a>
	  </form>

	  <form class="navbutton"
	    action="{{ url_for('get_people')}}"
	    method="post">
	    <a class="navoption"
	      onclick="document.forms['get_people'].submit()"
	      style="cursor:pointer;">
	    <i class="ri-car-line card__icon"></i>
	    <p class="navselection">Get People</p>
	    </a>
	  </form>

	  <form
	    class="navbutton"
	    id="get_courses"
	    action="{{ url_for('get_courses')}}"
	    method="post">
	    <a class = "navoption"
	      onclick="document.forms['get_courses'].submit()"
	      style="cursor:pointer;">
	    <i class="ri-briefcase-line card__icon"></i>
	    <p class="navselection">Get Courses</p>
	    </a>
	  </form>
	</ul>
      </header>
