<!DOCTYPE html>
      <header class="header">

	  <form class="navbutton" >
	    <a class="navoption"
	       href="{{ url_for('render_home')}}"
	      style="cursor:pointer;">
	    <i class="ri-home-line card__icon"></i>
	    <p class="navselection">Home</p>
	    </a>
	  </form>

	<form class="navbutton"
	    id="bulk_add_opts"
	    action="{{ url_for('bulk_add_opts')}}"
	    method="post">
	    <a class="navoption"
	      onclick="document.forms['bulk_add_opts'].submit()"
	      style="cursor:pointer;">
	    <i class="ri-send-plane-line card__icon"></i>
	    <p class="navselection">Bulk Add</p>
	    </a>
	  </form>

	  <form class="navbutton"
	    id="bulk_courses_to_groups"
	    action="{{ url_for('bulk_courses_to_groups')}}"
	    method="post">
	    <a class="navoption"
	      onclick="document.forms['bulk_add_course_groups'].submit()"
	      style="cursor:pointer;">
	    <i class="ri-car-line card__icon"></i>
	    <p class="navselection">Add Courses</p>
	    </a>
	  </form>

	  <form class="navbutton"
	    id="templates"
	    action="{{ url_for('templates')}}"
	    method="post">
	    <a class="navoption"
	      onclick="document.forms['templates'].submit()"
	      style="cursor:pointer;">
	    <i class="ri-car-line card__icon"></i>
	    <p class="navselection">Templates</p>
	    </a>
	  </form>

	  <form class="navbutton">
	    <a class = "navoption"
	       href="{{ url_for('clear_session')}}"
	      style="cursor:pointer;">
	    <i class="ri-scissors-line card__icon"></i>
	    <p class="navselection">New Customer</p>
	    </a>
	  </form>

      </header>
