<!DOCTYPE html>
{% extends 'head.html' %}
{% include 'header.html' %}
{% include 'logo.html' %}
{% block content %}

<h4>Hello! Please find the options for {{ session.school }}.</h4>
{% include 'csv.html' %}
 <p></p>
    </div>
    <div class="card-grid">
		    <form class="card"
		    action="{{ url_for('get_people')}}"
		    method="post">
		    <a class="a-card"
		      onclick="document.forms['get_people'].submit()"
		      style="cursor:pointer;">
		    <i class="ri-car-line card__icon"></i>
		    <p class="card__name">Get People</p>
		    </a></form>

		    <form class="card"
		    id="get_courses"
		    action="{{ url_for('get_courses')}}"
		    method="post">
		    <a class="a-card"
		      onclick="document.forms['get_courses'].submit()"
		      style="cursor:pointer;">
		    <i class="ri-plane-line card__icon"></i>
		    <p class="card__name">Get Courses</p>
		    </a></form>

      <form class="card"
		    id="add_ppl_opts"
		    action="{{ url_for('add_ppl_opts')}}"
		    method="post">
		    <a class="a-card"
		      onclick="document.forms['add_ppl_opts'].submit()"
		      style="cursor:pointer;">
		    <i class="ri-send-plane-line card__icon"></i>
		    <p class="card__name">Bulk Add People</p>
		    </a></form>

      <form class="card"
		    id="add_groups_opts"
		    action="{{ url_for('add_groups_opts')}}"
		    method="post">
		    <a class="a-card"
		      onclick="document.forms['add_groups_opts'].submit()"
		      style="cursor:pointer;">
		    <i class="ri-shape-2-line card__icon"></i>
		    <p class="card__name">Bulk Add Groups</p>
      </a></form>

      <form class="card"
		    id="ppl_to_groups_opts"
		    action="{{ url_for('ppl_to_groups_opts')}}"
		    method="post">
		    <a class="a-card"
		      onclick="document.forms['ppl_to_groups_opts'].submit()"
		      style="cursor:pointer;">
		    <i class="ri-group-line card__icon"></i>
		    <p class="card__name">Add Active People to Groups</p>

    </div>
    {% endblock %}
